.container{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90vh;
    width: 200px;
}
.filtersBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
.select{
    width: 180px;
    font-size: 15px;
    background: none;
    color: #1e90ff;
    border: 1px solid #1e90ff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    outline: none;
}
.select:focus{
    background-color: #1e90ff;
    color: white;
}
@media only screen and (max-width:1130px){
    .container{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .filtersBox{
        margin: 10px;
    }
    .select{
        max-width: 130px;
        font-size: 11px;
        padding: 5px;
    }
}
@media only screen and (max-width:570px){
    .container{
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        justify-content: space-around;
        align-items: center;
        height: auto;
    }
    .filtersBox{
        margin: 0px;
    }
    .select{
        width: 130px;
        font-size: 10px;
        padding: 5px;
        margin-top: 20px;
    }
}